body {
    font-family: Arial, sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

header {
    background: #445161;
    padding: 20px 0;
    color: #ffffff;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__title {
    font-size: 60px;
    line-height: 69px;
    margin-bottom: 40px;
}


/* .header__info {
    padding-bottom: 19px;
} */

.header__text {
    font-size: 20px;
    line-height: 23px;
}

.header__text:not(:last-of-type) {
    padding-bottom: 10px;
}

.header__text::before {
    content: '✓';
    padding-right: 10px;
    /* content: <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16 1.36689L5.02857 13L0 7.66816L1.28914 6.30127L5.02857 10.2565L14.7109 0L16 1.36689Z" fill="white"/></svg>; */
}

.about {
    padding: 45px 0;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
}

.about__header {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.about__text-wrapper {
    width: 645px;
}

.about__info {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding-bottom: 10px;
}

.about__img {
    width: 500px;
    height: 245px;
}

.pluses {
    background: #F5F5F5;
    padding: 25px 0 45px;
}

.pluses__items-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pluses__header {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    padding-bottom: 25px;
    text-align: center;
}

.pluses__info {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    width: 45%;
    display: flex;
    align-items: flex-start;
    position: relative;
    padding-left: 45px;
}

.pluses__info:nth-of-type(-n+4) {
    margin-bottom: 35px;
}

.pluses__info::before {
    content: '';
    width: 35px;
    height: 35px;
    position: absolute;
    left: 0;
    top: 8px;
    background: url(../geekbrains/images/plus\ icon.jpg) no-repeat center center;
    background-size: cover;
}

.screenshot {
    padding: 25px 0 40px;
}

.screen__title {
    padding-bottom: 45px;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}

.screen__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen__header {
    padding-left: 220px;
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    width: 60%;
    padding-bottom: 10px;
}

.screen__info {
    position: relative;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    display: flex;
    align-items: flex-start;
    padding-left: 220px;
    width: 65%;
}

.screen {
    width: 45%;
    padding-bottom: 30px;
}

.screen::before {
    position: absolute;
    content: '';
    width: 200px;
    height: 150px;
    background: url('../geekbrains/images/rectangle__screen.png');
    display: block;
    margin-bottom: 10px;
}

.review {
    padding: 25px 0 40px;
    background-color: #F5F5F5;
}

.review__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review__header {
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #445161;
}

.review__info {
    background-color: #EBEBEB;
    border-radius: 5px;
    width: 45%;
    padding-bottom: ;
}

.review__info:nth-of-type(-n+2) {
    margin-bottom: 25px;
}

.review__info::before {
    content: '';
    height: 66px;
    width: 66px;
    background-color: #445161;
    border-radius: 50%;
    display: inline-block;
    margin-right: 15px;
}

.review__info {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    position: relative;
}

.review__info::after {
    content: 'Lourens S.';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -17px;
    color: #989898;
    font-size: 14px;
    line-height: 18px;
}